body,html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #60a3bc !important;
}
body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: space-evenly;
    color: #fff;
    text-shadow: 0 0.05rem 0.1rem rgb(0 0 0 / 50%);
    box-shadow: inset 0 0 5rem rgb(0 0 0 / 50%);
    align-content: center;
    flex-direction: column-reverse;
    align-items: center;
    flex-wrap: wrap;
}
.user_card {
    height: 400px;
    width: 350px;
    margin-top: 10%;
    margin-bottom: auto;
    background: #60bc74;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    background: #60a3bc;
    padding: 10px;
    justify-content: center;
    border: 1px solid white;
}
.brand_logo {
    height: 110px;
    width: 110px;
    margin-top: 10px;
}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100%;
    background: #60a3bc !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #60a3bc !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem;
}
.input_user,.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #47869c !important;
}