html, body {
    margin: 0;
    height: 100%;
}
header{
  display: flex;
  flex-direction: column;
}
img{
  vertical-align:middle;
  border-style:none;
}
.nav{
  text-shadow:none;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  padding-left:0;
  margin-bottom:0;
  list-style:none;
}
.nav-link{
  display:block;
  padding:.5rem 1rem;
}
.nav-link:focus,.nav-link:hover{
  text-decoration:none;
}

.card{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
}
/*! CSS Used from: https://getbootstrap.com/docs/4.0/examples/cover/cover.css */
.btn-secondary,.btn-secondary:hover,.btn-secondary:focus{
  text-shadow:none;
  background-color:rgb(51, 51, 51);
  border:.05rem solid rgb(141, 141, 141);
}
.masthead{
  margin-bottom:2rem;
}
.nav-masthead .nav-link{
  padding:.25rem 0;font-weight:700;
  color:rgba(0, 0, 0, 0.5);
  background-color:transparent;
  border-bottom:.25rem solid transparent;
  display: inline-flex;
  

}
.nav-masthead .nav-link:hover,.nav-masthead .nav-link:focus{
  border-bottom-color:rgba(17, 17, 17, 0.25);
}
.nav-masthead .nav-link + .nav-link{
  margin-left:1rem;
}
.nav-masthead .active{
  /* color:rgb(49, 47, 47); */
  border-bottom-color:rgba(59, 187, 116, 0.479);
}

.cover{
  padding:0 1.5rem;
}
.cover .btn-lg{
  color: azure;
  padding:.75rem 1.25rem;
  font-weight:700;
}
.cover-container{
  display: flex;
  flex-direction: column;
  width: 1824px;
  height: 1026px;

}
.mastfoot{
  color:rgba(109, 1, 250, 0.5);
}
a,a:focus,a:hover{
  color:rgb(173, 156, 61);
}
/*! CSS Used fontfaces */
@font-face{
  font-family: Roboto, sans-serif;
  src:url(fonts/roboto/Roboto-Regular.ttf);
}
.masthead-brand{
  display: flex;
  margin-bottom: 0;
  width: 75px;
  flex-direction: row;
  align-content: stretch;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
.nav-masthead{
  display: inline-flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background-color: beige;
  background-size: 2200px, 1080px;
  background-position-x: center;
  background-repeat: no-repeat;
}
img {
  width: 220px;
  height: 330px;
  margin-bottom: 10px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}
h1 {
  color: rgb(89, 189, 122);
  font-weight: 700;
  font-size: 50px;
}
#boton-carrito {
  border: none;
  color: rgb(89, 189, 122);
  font-size: 40px;
  background-color: white;
  border-radius: 50%;
  padding: 10px 20px;
  transition: all .3s;
}
#boton-carrito:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(89, 189, 122);
}
#boton-carrito:focus {
  outline: none;
}

#contenedor-productos {
  max-width: 1200px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

p {
  line-height: 1.8;
}
.producto {
  display:flex;
  flex-direction: column;
  align-items: center;
  max-width: 20%;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
  background-color: white;
}
.precioProducto {
  font-weight: 700;
}
.boton-agregar {
  background-color: rgb(89, 189, 122);
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
  border: none;
}
.boton-agregar:hover {
  cursor: pointer;
}
.boton-agregar:focus {
  outline: none;
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  visibility: hidden;
}

.modal-active {
  visibility: visible;
}

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s;
}

.modal-active .modal-carrito {
  margin-top: 0;
}

.modal-carrito h3 {
  color: rgb(89, 189, 122);
  padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: rgb(89, 189, 122);
  border: none;
  background-color: white;
}
.modal-carrito #carritoCerrar:hover {
  cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
  outline: none;
}
.modal-carrito .precioProducto {
  padding-top: 10px;
  
}
.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}
.productoEnCarrito:hover {
  border-left: 5px solid royalblue;
}

.boton-eliminar {
  background-color: white;
  color: red;
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  cursor: pointer;
}
.boton-eliminar:focus {
  outline: none;
}
a:link, a:visited, a:active {
  text-decoration:none;
}
h1{
  font-size: 45px;
}
.user_card {
    height: 400px;
    width: 350px;
    margin-top: 10%;
    margin-bottom: auto;
    background: #60bc74;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    background: #60a3bc;
    padding: 10px;
    justify-content: center;
    border: 1px solid white;
}
.brand_logo {
    height: 110px;
    width: 110px;
    margin-top: 10px;
}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100%;
    background: #60a3bc !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #60a3bc !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem;
}
.input_user,.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #47869c !important;
}