html, body {
    margin: 0;
    height: 100%;
}
header{
  display: flex;
  flex-direction: column;
}
img{
  vertical-align:middle;
  border-style:none;
}
.nav{
  text-shadow:none;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  padding-left:0;
  margin-bottom:0;
  list-style:none;
}
.nav-link{
  display:block;
  padding:.5rem 1rem;
}
.nav-link:focus,.nav-link:hover{
  text-decoration:none;
}

.card{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
}
/*! CSS Used from: https://getbootstrap.com/docs/4.0/examples/cover/cover.css */
.btn-secondary,.btn-secondary:hover,.btn-secondary:focus{
  text-shadow:none;
  background-color:rgb(51, 51, 51);
  border:.05rem solid rgb(141, 141, 141);
}
.masthead{
  margin-bottom:2rem;
}
.nav-masthead .nav-link{
  padding:.25rem 0;font-weight:700;
  color:rgba(0, 0, 0, 0.5);
  background-color:transparent;
  border-bottom:.25rem solid transparent;
  display: inline-flex;
}
.nav-masthead .nav-link:hover,.nav-masthead .nav-link:focus{
  border-bottom-color:rgba(17, 17, 17, 0.25);
}
.nav-masthead .nav-link + .nav-link{
  margin-left:1rem;
}
.nav-masthead .active{
  /* color:rgb(49, 47, 47); */
  border-bottom-color:rgba(59, 187, 116, 0.479);
}

.cover{
  padding:0 1.5rem;
}
.cover .btn-lg{
  color: azure;
  padding:.75rem 1.25rem;
  font-weight:700;
}
.cover-container{
  display: flex;
  flex-direction: column;
  width: 1824px;
  height: 1026px;

}
.mastfoot{
  color:rgba(109, 1, 250, 0.5);
}
a,a:focus,a:hover{
  color:rgb(173, 156, 61);
}
/*! CSS Used fontfaces */
@font-face{
  font-family:Roboto;
  src:url(chrome-extension://mcgbeeipkmelnpldkobichboakdfaeon/css/Roboto-Regular.ttf);
}
.masthead-brand{
  display: flex;
  margin-bottom: 0;
  width: 75px;
  flex-direction: row;
  align-content: stretch;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
.nav-masthead{
  display: inline-flex;
}

@media screen and (max-width: 768px) {
  
  .menu{ 
      font-size: 5vw;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-content: center;
      margin-right: 5px;
  }

  .masthead-brand{
      margin-left: 1vw;
  }

  #boton-carrito {
      border: none;
      color: rgb(89, 189, 122);
      background-color: white;
      padding: 0px;
  }
}

@media screen and (max-width: 383px) {

  #boton-carrito {
      display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background-color: beige;
  background-image: url('../../img/manoscalidad2.png');
  background-size: 2200px, 1080px;
  background-position-x: center;
  background-repeat: no-repeat;
}
img {
  width: 220px;
  height: 330px;
  margin-bottom: 10px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}
h1 {
  color: rgb(89, 189, 122);
  font-weight: 700;
  font-size: 50px;
}
#boton-carrito {
  border: none;
  color: rgb(89, 189, 122);
  font-size: 2.1em;
  background-color: white;
  border-radius: 50%;
  padding: 0px 0px 10px 10px;
  transition: all .3s;
}
#boton-carrito:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(89, 189, 122);
}
#boton-carrito:focus {
  outline: none;
}

#google_map {
  width: 90%;
  height: 510px;
  padding: 15px;
  display: flex;
  justify-content: center;
  margin: auto;
  
}

#contenedor-productos {
  max-width: 1200px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

p {
  line-height: 1.8;
}
.producto {
  display:flex;
  flex-direction: column;
  align-items: center;
  max-width: 20%;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
  background-color: white;
}
.precioProducto {
  font-weight: 700;
}
.boton-agregar {
  background-color: rgb(89, 189, 122);
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
  border: none;
}
.boton-agregar:hover {
  cursor: pointer;
}
.boton-agregar:focus {
  outline: none;
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  visibility: hidden;
}

.modal-active {
  visibility: visible;
}

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s;
}

.modal-active .modal-carrito {
  margin-top: 0;
}

.modal-carrito h3 {
  color: rgb(89, 189, 122);
  padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: rgb(89, 189, 122);
  border: none;
  background-color: white;
}
.modal-carrito #carritoCerrar:hover {
  cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
  outline: none;
}
.modal-carrito .precioProducto {
  padding-top: 10px;
  
}
.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}
.productoEnCarrito:hover {
  border-left: 5px solid royalblue;
}

.boton-eliminar {
  background-color: white;
  color: red;
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  cursor: pointer;
}
.boton-eliminar:focus {
  outline: none;
}
a:link, a:visited, a:active {
  text-decoration:none;
}
h1{
  font-size: 45px;
}