{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agroweb</title>
    <link rel="stylesheet" href="{% static '/styles/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!--<script defer src="{% static '/js/index.js' %}"></script>-->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>

<body>
    <style>
        #info-panel {
            position: absolute;
            top: 0;
            right: 0px;
            width: 20em;
            height: 66em;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            transition: right 0.3s ease-in-out;
            overflow-y: scroll;
            z-index: 1;
        }

        #info-panel.show {
            right: 0;
        }
    </style>

    <header class="header">

        <div class="menu container">
            <a href="#" class="logo">logo</a>
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="../../static/img/menu.png" alt="" class="menu-icono">
            </label>

            <nav class="navbar">
                <ul>

                    <li><a class="nav-link active" href="/">Inicio</a></li>
                    <li><a class="nav-link" href="/mapa">Mapa</a></li>
                    <li><a class="nav-link" href="/registro">Registro</a></li>
                    {% if user.is_authenticated %}
                    <li><a class="nav-link" href="/logout">Logout</a></li>
                    {% else %}
                    <li><a class="nav-link" href="/login">Login</a></li>
                    {% endif %}
                </ul>
            </nav>

        </div>

        <div class="header-content container">

            <h1>AgroWeb</h1>
            <p>LA MEJOR APLICACIÓN PARA LA COMPRA Y VENTA DE PRODUCTOS AGRICOLAS, DIRECTAMENTE CON EL PRODUCTOR Y SIN
                INTERMEDIARIOS</p>

            <a href="#" class="btn-1">Información</a>
        </div>
    </header>

    {% block content %}
    {% endblock %}
</body>

</html>