{% extends 'base_validador.html' %}
{% block content %}
    <h1>Estado de los Pedidos</h1>
    <ul>
        {% for pedido in pedidos %}
            <li>
                Pedido ID: {{ pedido.id }}
                <br>
                Estado: {{ pedido.estado }}
                <br>
                <form method="post" action="{% url 'cambiarEstadoPedido' pedido.id %}">
                    {% csrf_token %}
                    <select name="nuevo_estado">
                        <option value="pendiente" {% if pedido.estado == "pendiente" %}selected{% endif %}>Pendiente</option>
                        <option value="en_camino" {% if pedido.estado == "en_camino" %}selected{% endif %}>En Camino</option>
                        <option value="entregado" {% if pedido.estado == "entregado" %}selected{% endif %}>Entregado</option>
                    </select>
                    <button type="submit">Cambiar Estado</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}