{% extends 'base.html' %}
{% block content %}
<section class="info">

    <img src="../../static/media/img/bghojas2.png" class="info-img" alt="">

    <div class="info-content container">

        <h2>El campo al alcance de tu mano</h2>
        <p style="text-align: justify;" class="txt-p">
            La aplicación web AgroWeb es una herramienta digital que permite a los productores y
            consumidores de productos agrícolas, localizar y contactar de forma directa y segura a los oferentes
            y demandantes de estos bienes en toda la via choachi. Cada usuario puede crear el perfil del punto,
            subir las fotos de sus productos, indicar el precio, la variedad, la cantidad y la ubicación de los
            mismos.
            AgroWeb es una plataforma gratuita, fácil de usar y accesible desde cualquier dispositivo con conexión a
            internet.
        </p>

        <div class="info-group">

            <div class="info-1">
                <img src="../../static/media/img/proyecto.png" alt="">
                <h3>Geolocalización</h3>
                <p>
                    Encuentra las mejores opciones cerca de tí
                </p>
            </div>

            <div class="info-1">
                <img src="../../static/media/img/Road.png" alt="">
                <h3>Via Choachi</h3>
                <p>
                    Encuentra distintos tipos de alimentos en la vía
            </div>

            <div class="info-1">
                <img src="../../static/media/img/lacteos.png" alt="">
                <h3>La mejor calidad</h3>
                <p>
                    Productos de la mas alta calidad sin intermediarios
                </p>
            </div>

        </div>
    </div>

</section>

<main class="services">

    <div class="services-content container">
        <h2>¿Tienes un negocio en la vía Choachi? Has parte de nuestra plataforma</h2>

        <div class="services-group">

            <div class="services-1">
                <img src="../../static/media/img/i1.png" alt="">
                <h3>Inscribete</h3>
            </div>

            <div class="services-1">
                <img src="../../static/media/img/i2.png" alt="">
                <h3>Referencia tu negocio</h3>
            </div>

            <div class="services-1">
                <img src="../../static/media/img/i3.png" alt="">
                <h3>Recibe mas personas</h3>
            </div>

            <div class="services-1">
                <img src="../../static/media/img/ventas.png" alt="">
                <h3>Mejora tus ganancias</h3>
            </div>

        </div>

        <p>
            No lo pienses mas, esta es una oportunidad unica
        </p>
        <a href="/registro" class="btn-1">Registrate ya</a>
    </div>

</main>

<section class="general">

    <div class="general-1">
        <h2>Inclusión</h2>
        <p>
            Facilitamos un espacio digital donde los productores pueden expandir su alcance de mercado y los compradores pueden acceder fácilmente a productos frescos y de calidad. Con un proceso de registro eficiente y seguro, conectamos a la comunidad agrícola, fomentando un comercio más accesible y sostenible.
        </p>
    </div>
    <div class="general-2"></div>

</section>

<section class="general">

    <div class="general-3"></div>

    <div class="general-1">
        <h2>Compatibilidad</h2>
        <p>
            Nuestra plataforma ha sido diseñada con un enfoque centrado en el usuario, garantizando una experiencia fluida en diversos dispositivos y sistemas operativos. Con un diseño responsive, puedes explorar nuestro mercado agrícola desde tu computadora, tablet o teléfono móvil, asegurando que tengas acceso a la frescura de la agricultura local sin importar dónde te encuentres.
        </p>
    </div>

</section>

<!-- <section class="blog container">
    <h2>Blog</h2>
    <p>dasddasdsadsadsdasdsadsaddasdsadasdad</p>

    <div class="blog-content">
        <div class="blog-1">
            <img src="images/blog1.jpg" alt="">
            <h3>Blog 1</h3>
            <p>
                dasdasdasdsadadsadsadsadsadsadasdsadasdads
            </p>
        </div>
        
        <div class="blog-1">
            <img src="images/blog2.jpg" alt="">
            <h3>Blog 2</h3>
            <p>
                dasdasdasdsadadsadsadsadsadsadasdsadasdads
            </p>
        </div>

    </div>

    <a href="#" class="btn-1">Información</a>

</section> -->

<footer class="footer">

    <div class="footer-content container">

        <div class="link">

            <img src="../static/media/img/logouni2.png">
            <h3>Daniel Caceres & Sebastian Sanchez &copy; </h3>

        </div>

</footer>
{% endblock %}
