{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agroweb</title>
    <script src="https://kit.fontawesome.com/df59baf6b8.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/styles/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="crossorigin="anonymous"></script>
    <script defer src="{% static '/js/stock.js' %}"></script>
    <script defer src="{% static '/js/modal.js' %}"></script>
    <script defer src="{% static '/js/index.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>
<body>
    <script>
        $(document).ready(function(){
        $.ajax({
        url: "{% url 'mydata'%}",
        method: 'GET',
        success: function (data) {
            console.log(data);
            initMap(data);
            }
        });
    });

    //crear mapa
    function initMap(data) {
    const map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: 4.564055528477374, lng: -73.99200191926067},
        zoom: 13
    });
    //crear marcador BD django
    const markers = data?.map((i) => {
        const marker = new google.maps.Marker({
            position: { lat: parseFloat(i.latitude), lng: parseFloat(i.longitude)},
            map: map,
            icon: '../../static/img/puesto.png'
        })
    });
    // NOTE: This uses cross-domain XHR, and may not work on older browsers.
    map.data.loadGeoJson("../../static/js/map.geojson");

    // Obtener la ubicacion del usuario
    navigator.geolocation.getCurrentPosition(function(position) {
    var userLocation = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
    };

    //agregar marcador
    var marker = new google.maps.Marker({
        position:userLocation,
        map:map,
        title: 'tu ubicacion',
        icon: '../../static/img/usuario.png'
        });
    });

    }

    window.initMap = initMap;
    </script>
    <header>
        <div class="inner">
			<nav class="nav-masthead">
				<h1 class="menu">
                    <a class="nav-link active" href="/">Home</a>
				    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/registro">Registrarse</a>
                </h1>
                <button id="boton-carrito" class="masthead-brand"><i class="fas fa-shopping-cart"></i><span id="contadorCarrito">0</span></button>
			</nav>		    
    </div>
    </header>
    <div class="mapholder">
        <div id="map"></div>
        <script src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&v=weekly"defer></script>
        </div>
    </div>

    <div class="divfull">
        <main id="contenedor-productos">
        </main>
    <div class="modal-contenedor">
        <div class="modal-carrito">
            <h3>Carrito</h3>
            <button id="carritoCerrar"><i class="fas fa-times-circle"></i></button>
            <div id="carrito-contenedor">
                <div class="productoEnCarrito">
                    <p>Producto 1</p>
                    <p>Precio: $1200</p>
                    <button class="boton-eliminar"><i class="fas fa-trash-alt"></i></button>
                </div>
            </div>
            <p class="precioProducto">Precio total: $<span id="precioTotal">0</span></p>
            <button id="vaciar-carrito" class="boton-agregar">Vaciar carrito</button>
        </div>
    </div>
</div>
<p>website created by </p>
</body>
</html>