{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<div></div>
{% else %}
<!-- <div id="info-panel" <style> #info-panel{display: none}</style>></div>  -->
<div id="msg-login">
    <style>
        #msg-login {
            padding: 50px;
            font-size: 10px;
        }
    </style>
    <center>
        <h1>Estas viendo el mapa de la vía Choachi, para visualizar los vendedores y sus productos <a
                href="/login"></a>inicia sesión en nuestra plataforma</h1>

    </center>
</div>
<!-- <script>

    document.getElementById("info-panel").style.display = "none";

    </script> -->
{% endif %}

<script>
    $(document).ready(function () {
        $.ajax({
            url: "{% url 'mydata' %}",
            method: 'GET',
            success: function (data) {
                console.log("first data")
                console.log(data);
                initMap(data.vendedores);
            }
        });
    });

    function initMap(data) {
        // Oculta el panel lateral al inicio
        document.getElementById("info-panel").style.display = "none";

        // genera el mapa localizado en la via choachi
        const map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 4.564055528477374, lng: -73.99200191926067 },
            zoom: 13
        });

        const markers = data?.map((vendedor) => {
            //crear 
            const marker = new google.maps.Marker({
                position: { lat: parseFloat(vendedor.fields.latitude), lng: parseFloat(vendedor.fields.longitude) },
                map: map,
                icon: '../../static/img/puesto.png'
            })

            var panelProducts = '<div>' +
                '<h4>Productos:</h4>' +
                '<ul>';

            vendedor.productos.map(producto => {
                panelProducts += '<li><h3>' + producto.fields.nombreProd + '</h3></li>'
                    + '<li> <img src= "' + producto.fields.imagenProdUrl + '" alt = "' + producto.fields.nombreProd + '" width="120" height="160"> </li>' 
                    + '<li> <strong> Precio : </strong> ' + producto.fields.precio + ' COP </li>'
                    + '<li> <strong> <h4> Descripción: </h4> </strong> <p style="text-align: justify">' + producto.fields.descripcion + '</p> </li>'
                    + '<li>' + '<button id="add-to-cart-btn">Agregar producto</button>' + '</li> <br> <hr>'
            });

            panelProducts += '</ul></div>';


            // Agrega un evento de clic al marcador para mostrar el panel lateral
            marker.addListener('click', function () {
                // Muestra el panel lateral
                document.getElementById("info-panel").style.display = "block";
                // Muestra la información del marcador en el panel
                document.getElementById("info-panel").innerHTML =
                    '<button id="close-panel-btn" font-size="large">&times;</button>' +
                    '<div id="info-header">' +
                    '<h3>' + vendedor.fields.nombreTienda + '</h3>' +
                    '</div>' + 
                    '<div id="estado-tienda"> ' + '</div> <hr>' +
                    '<div id="mapholder">' +
                    '<p><strong>Teléfono:</strong> ' + vendedor.fields.telefono + '</p>' +
                    '<p><strong>Horario:</strong> ' + vendedor.fields.horario + '</p>' +
                    '<p><strong>Vendedor:</strong> ' + vendedor.fields.nombreVendedor + '</p> <hr>' +
                    '<div id="contenedor-productos">' + panelProducts + '</div>' +
                    '<h5>Medios de pago:</h5>' +
                    '<div id="pagos"> <a href="https://transacciones.nequi.com/bdigital/login.jsp" target="_blank"><img src="/static/img/nequi-logo.png" width="70px"/></a>' + 
                    '<a href="#" alt="Comunicarse directamente con el vendedor"><img src="/static/img/efectivo.png" width="70px height="70px"/></a> </div>';

                // Agrega un evento de clic al botón de cerrar panel
                document.getElementById("close-panel-btn").addEventListener("click", function () {
                    // Oculta el panel lateral
                    document.getElementById("info-panel").style.display = "none";
                });

                // Implementación del sistema de horarios
                const openingHours = vendedor.fields.horario.split('-');
                const openingTime = new Date().setHours(Number.parseInt(openingHours[0].split(':')[0]), Number.parseInt(openingHours[0].split(':')[1]), 0);
                const closingTime = new Date().setHours(Number.parseInt(openingHours[1].split(':')[0]), Number.parseInt(openingHours[1].split(':')[1]), 0);

                if (new Date().getTime() >= openingTime && new Date().getTime() <= closingTime) {
                    // La tienda está abierta
                    document.getElementById("estado-tienda").innerHTML +=
                        '<p style="color:green" font-size="30px"><strong> Abierto</strong></p>'
                } else {
                    // La tienda aún no abre
                    document.getElementById("estado-tienda").innerHTML +=
                        '<p style="color:red;" font-size="30px"> <strong> Cerrado</strong></p>'
                }
            });
        });
    }

    window.initMap = initMap;
</script>

<div class="mapholder">

    <!-- Agrega un contenedor para el mapa y el panel -->
    <div style="position: relative; height: 100vh;">
        <!-- Agrega un elemento para el mapa -->
        <div id="map" style="height: 100%;"></div>
        <!-- Agrega el panel lateral de información -->
        <div id="info-panel">
            <img id="imagenProd" src="" alt="">
        </div>
    </div>
    <!-- <div id="map"></div> -->



    <script src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&v=weekly" defer></script>
</div>
{% endblock %}