{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}

<div></div>
{% else %}
<!-- <div id="info-panel" <style> #info-panel{display: none}</style>></div>  -->
<div id="msg-login">
    <style>
        #msg-login {
            padding: 50px;
            font-size: 10px;
        }
    </style>
    <center>
        <h1>Estas viendo el mapa de la vía Choachi, para visualizar los vendedores y sus productos <a
                href="/login"></a>inicia sesión en nuestra plataforma</h1>

    </center>
</div>
<!-- <script>

    document.getElementById("info-panel").style.display = "none";

    </script> -->
{% endif %}

<script>
    $(document).ready(function () {
        $.ajax({
            url: "{% url 'mydata' %}",
            method: 'GET',
            success: function (data) {
                console.log(data);
                initMap(data.vendedores);
            }
        });
    });

    function initMap(data) {

        // genera el mapa localizado en Bogotá
        const map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 4.564055528477374, lng: -73.99200191926067 },
            zoom: 13
        });

        const markers = data?.map((vendedor) => {
            //crear 
            const marker = new google.maps.Marker({
                position: { lat: parseFloat(vendedor.fields.latitude), lng: parseFloat(vendedor.fields.longitude) },
                map: map,
                icon: '../../static/media/img/puesto.png'
            })

            var panelProducts = '<div id="tarjetaproducto">' +
            // '<h4>Productos:</h4>' +
            '<div class="productos-container">'; // Agrega un contenedor para los productos

            vendedor.productos.map(producto => {

                panelProducts += '<div class="producto">' + // Agrega un contenedor para cada producto
                    '<h3>' + producto.fields.nombreProd + '</h3>' +
                    '<img src="' + producto.fields.imagenProdUrl + '" alt="' + producto.fields.nombreProd + '" width="120" height="160">' +
                    '<div class="precio"> $' + producto.fields.precio + ' COP </div>' +
                    '<p style="text-align: justify">' + producto.fields.descripcion + '</p>' +
                    '<button class="btn-agregar" data-producto="'+ producto.pk +'" data-vendedor="'+ vendedor.pk + '">Agregar al carrito</button>' +
                    '</div>';
                console.log(producto.pk);
            });

            panelProducts += '</div></div>'; 


            // Agrega un evento de click al marcador para mostrar el panel
            marker.addListener('click', function () {
            // Muestra la información de la tienda en el contenedor
            const storeInfoContainer = document.getElementById("store-info-container");
            storeInfoContainer.innerHTML = 
                    // '<button id="close-panel-btn" font-size="large">&times;</button>' +
                    '<div id="info-header">' +
                    '<h3>' + vendedor.fields.nombreTienda + '</h3>' +
                    '<div id="estado-tienda"> ' + '</div>'+
                    '</div>'+
                    '<div id="mapholder">' +
                    '<p><strong>Teléfono:</strong> ' + vendedor.fields.telefono + '</p>' +
                    '<p><strong>Horario:</strong> ' + vendedor.fields.horario + '</p>' +
                    '<p><strong>Vendedor:</strong> ' + vendedor.fields.nombreVendedor + '</p>' +
                    '</div>'+
                    '<div id="contenedor-productos">' + panelProducts + '</div>' 
                    ;

                // Implementación del sistema de horarios
                const openingHours = vendedor.fields.horario.split('-');
                const openingTime = new Date().setHours(Number.parseInt(openingHours[0].split(':')[0]), Number.parseInt(openingHours[0].split(':')[1]), 0);
                const closingTime = new Date().setHours(Number.parseInt(openingHours[1].split(':')[0]), Number.parseInt(openingHours[1].split(':')[1]), 0);

                if (new Date().getTime() >= openingTime && new Date().getTime() <= closingTime) {
                    // La tienda está abierta
                    document.getElementById("estado-tienda").innerHTML +=
                        '<p style="color:green" font-size="30px"><strong> Abierto</strong></p>'
                    $('.btn-agregar').show();
                } else {
                    // La tienda aún no abre
                    document.getElementById("estado-tienda").innerHTML +=
                        '<p style="color:red;" font-size="30px"> <strong> Cerrado</strong></p>'
                    $('.btn-agregar').hide();
                }

                // Agrega un evento de click a los botones "Agregar al carrito"
                $('.btn-agregar').on('click', function () {
                    const productoId = $(this).data('producto');
                    const vendedorId = $(this).data('vendedor');

                    $.ajax({
                        type: 'POST', // Utiliza el método POST
                        url: '/agregar/' + productoId + '/' + vendedorId, // URL de la vista para agregar el producto al carrito
                        dataType: 'json',
                        success: function (data) {
                            // Maneja la respuesta del servidor, por ejemplo, mostrar un mensaje de éxito
                            alert(data.message);

                            actualizarCarrito();
                        },
                        error: function () {
                            // Maneja los errores de la solicitud Ajax
                            alert('Error al agregar el producto al carrito.');
                        }
                    });
                });
                // Agrega un evento de click a los botones "Agregar al carrito"
                $('.btn-restar').on('click', function () {
                    const productoId = $(this).data('producto');
                    const vendedorId = $(this).data('vendedor');

                    $.ajax({
                        type: 'POST', // Utiliza el método POST
                        url: '/restar/' + productoId + '/' + vendedorId, // URL de la vista para agregar el producto al carrito
                        dataType: 'json',
                        success: function (data) {
                            // Maneja la respuesta del servidor, por ejemplo, mostrar un mensaje de éxito
                            alert(data.message);

                            actualizarCarrito();
                        },
                        error: function () {
                            // Maneja los errores de la solicitud Ajax
                            alert('Error al agregar el producto al carrito.');
                        }
                    });
                });

                $('.btn-eliminar').on('click', function(event) {
                    event.preventDefault(); // Evita el comportamiento predeterminado de la etiqueta <a>

                    const productoId = $(this).data('producto');
                    const vendedorId = $(this).data('vendedor');

                    $.ajax({
                        type: 'POST', // Utiliza el método POST para modificar datos en el servidor
                        url: '/eliminar/' + productoId + '/' + vendedorId,                 dataType: 'json',
                        success: function(data) {
                        alert(data.message);
                        actualizarCarrito();
                        },
                        error: function() {
                        alert('Error al eliminar el producto del carrito.');
                        }
                    });
                });

                function actualizarCarrito() {
                    // Realiza una solicitud Ajax para obtener la información actualizada del carrito desde el servidor
                    $.ajax({
                        url: '/obtener_carrito/',  // Debes definir una URL adecuada para obtener la información del carrito desde el servidor
                        method: 'POST',
                        dataType: 'html',
                        success: function (data) {
                            var jsonData = JSON.parse(data);  // Parsea el JSON recibido

                            // Extrae el valor de filas_html del JSON
                            var filas_html = jsonData.filas_html;

                            // Actualiza el contenido del carrito en la página
                            document.getElementById('contenidoCarrito').innerHTML = filas_html;
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            // Maneja los errores de la solicitud AJAX
                            console.log('Error en la solicitud AJAX:', textStatus, errorThrown);

                            // Puedes mostrar un mensaje de error al usuario
                            alert('Error al actualizar la información del carrito');
                        }
                    });
                }

            });
        });
    }

    window.initMap = initMap;
</script>

<div class="mapholder">
    <!-- Agrega un contenedor para el mapa -->
    <div id="map" style="height: 70vh;"></div>
</div>

{% if user.is_authenticated %}
<a href="https://www.dane.gov.co/files/operaciones/SIPSA/bol-SIPSASemanal-06abr-12abr-2024.pdf" target="_blank">Compara los precios con los boletines del DANE aqui </a>
{% endif %}

<!-- Agrega un contenedor para mostrar la información de la tienda -->
<div id="store-info-container">
    <!-- Aquí se mostrará la información de la tienda -->
</div>

    <script src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&v=weekly" defer></script>
</div>

<!-- hacer logica If info panel is active "activar carrito" -->

{% if user.is_authenticated %}
<div class="carrito-responsive">
<img src="../../static/media/img/carrito.png" onclick="mostrarCarrito()" width="60px" alt=""> 
</div>
{% else %}
<div></div>

{% endif %}
{% endblock %}