<!DOCTYPE html>
<html>
<head>
    <title>Correo enviado</title>
    <style>
        /* Aplica estilos CSS al mensaje */
        .mensaje {
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            font-size: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

        }

        .mensaje img{
            width: 300px;
        }
    </style>
</head>
<body>
    <div class="mensaje">
        {{ mensaje }}
        <img src="../static/media/img/reloj.png" />
    </div>
    <a href="{% url 'index' %}">Volver al inicio</a>
</body>
</html>