<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Registro exitoso</title>
    <style>
        .registro-exitoso{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

    </style>
</head>
<body>
    <div class="registro-exitoso">
    <h2>¡Registro exitoso!</h2>
    <!-- <p>Hola {{ nombreVendedor }},</p> -->
    <!-- <p>Tu registro como vendedor ha sido exitoso. A continuación se muestran los detalles de tu cuenta:</p> -->
    <!-- <ul>
        <li><strong>Nombre de vendedor:</strong> {{ nombreVendedor }}</li>
        <li><strong>Nombre de la tienda:</strong> {{ nombreTienda }}</li>
    </ul> -->
    <p>¡Gracias por unirte a nuestro sitio!</p>
    <!-- <p>Los datos que proporcionaste se van a revisar, por ahora puedes ver tu perfil normalmente</p> -->
    
    </div>
</body>
</html>