{% extends 'base_validador.html' %}
{% block content %}
    <h1>Validación de Pedidos</h1>
    <ul class="tabla-pedidos tabla-pedidos-header">
        <li>Id del Pedido</li>
        <li>Fecha</li>
        <li>Total</li>
        <li>Acciones</li>
    </ul>
    {% for pedido in pedidos %}
    <ul class="tabla-pedidos">
        <li>{{ pedido.id }}</li>
        <li>{{ pedido.fecha }}</li>
        <li>{{ pedido.total }}</li>
        <li>
            <form method="post" action="{% url 'aprobarPedido' pedido.id %}">
                {% csrf_token %}
                <button type="submit">Aprobar Pedido</button>
            </form>
            <form method="post" action="{% url 'denegarPedido' pedido.id %}">
                {% csrf_token %}
                <button type="submit" class="denegar">Denegar Pedido</button>
            </form>
        </li>
    </ul>
    {% endfor %}
    <br>
{% endblock %}